/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* common style */
:root {
  --primary-color: rgb(230, 83, 60);
  --text-p-color: rgba(255, 255, 255, 0.5);
}

body {
  max-width: 1440px;
  margin: auto;
  background: rgb(39, 39, 39);
}

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 2.81rem;
  font-weight: 900;
}

button {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
}

.description {
  color: var(--text-p-color);
  font-size: 0.88rem;
  font-weight: 400;
}

.d-flex {
  display: flex;
}

.primary-btn {
  border-radius: 42px;
  background: var(--primary-color);
  padding: 16px 40px 16px 40px;
  border: none;
}

.secondary-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  background-color: transparent;
}

.nav,
.banner-container,
section {
  max-width: 1160px;
  margin: 0 auto;
}

/* header area style */

#header {
  /* background: rgb(17, 17, 17); */
  background: linear-gradient(180deg, rgba(17, 17, 17), rgb(39, 39, 39) 100%);

  /* min-height: 715px; */
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 97px;
}

.nav .brand-logo {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: 800;
}

.nav > ul {
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.nav ul li {
  list-style-type: none;
  padding: 8px 0;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 400;
}

.nav ul li a:first-child {
  padding: 8px 20px 8px 20px;
}

.nav-btn {
  border-radius: 46px;
  background: rgb(230, 83, 60);
}

/* banner section */

.banner-container {
  justify-content: space-between;
  gap: 167px;
}

.banner-content {
  width: 40%;
}

.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 4.89rem;
  font-weight: 900;
  margin-bottom: 28px;
}

.banner-content p {
  font-size: 1rem;
}
.special {
  font-family: "Dancing Script", serif;
}

.banner-btn-container {
  display: flex;
  gap: 14px;
  margin-top: 28px;
}

.banner-img img {
  width: 100%;
  object-fit: cover;
}

#banner-btn-two {
  display: none;
}

.badge {
  width: 180px;
  color: rgb(255, 255, 255);
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 15px;
  margin-top: -170px;
  margin-left: -80px;
}

.badge-color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* main are start */

main {
  background: rgb(39, 39, 39);
  /* height: 500px; */
}

/* habit container */

.habit-container {
  padding-top: 100px;
}

.habit-content {
  text-align: center;

  width: 671px;
  margin: auto;
}
.habit-content p {
  margin-top: 14px;
  margin-bottom: 58px;
}

.habit-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px dotted rgb(255, 255, 255);
}

.habit-card .card-title {
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  margin-top: 6px;
}

.habit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
